<select name="categoryId" id="categoryId" class="form-control">
    <% categories.each(function(category) { %>
        <option value="<%= category.get('id') %>" <% if(category.get('selected')) { %>selected<% } %> >
            <%= category.get('name') %>
        </option>
    <% }) %>
</select>