<h2 id="createItem">
        <%= item.get('id') ? "Question details" : "Create a new question" %>
</h2>
<% translations = [] %>

<form class="form-horizontal" enctype="application/x-www-form-urlencoded" method="" action="" id="itemFormData">
    <% if(item.get('id')) { %>
    <input type="hidden" name='id' id='id' value="<%= item.get('id') %>">
    <% } %>
    <div class="form-group ">
        <label for="spaceId" class="col-lg-2 control-label">Space*</label>
        <div class="col-lg-10">
            <select name="spaceId" id="spaceId" class="form-control">
                <% spaces.each(function(space) { %>
                    <option
                        value="<%= space.get('id') %>"
                        <% if(space.get('selected')) { %>selected<% } %>
                        ><%= space.get('name') %></option>
                <% }) %>
            </select>
        </div>
    </div>
    <div class="form-group ">
        <label for="categoryId" class="col-lg-2 control-label">Category*</label>
        <div class="col-lg-10" id="category-selector"></div>
    </div>
    <hr>
    <div class="form-group ">
        <label class="col-lg-2 control-label">Status</label>
        <div class="col-lg-10">
            <div class="btn-group btn-group-xs col-lg-5" data-toggle="buttons">
                <label
                    class="btn btn-primary <%= item.get('status') === 'answered' ? 'active' : '' %>"
                    data-action="changeStatus">
                        <input type="radio" name="status" value="answered" <%= item.get('status') === 'answered' ? 'checked' : '' %>> Answered
                </label>
                <label
                    class="btn btn-primary <%= item.get('status') === 'unanswered' ? 'active' : '' %>"
                    data-action="changeStatus">
                        <input type="radio" name="status" value="unanswered" <%= item.get('status') === 'unanswered' ? 'checked' : '' %>> Unanswered
                </label>
            </div>
            <div class="btn-group btn-group-xs col-lg-5" data-toggle="buttons">
                <label
                    class="btn btn-primary <%= item.get('published') === 'Y' ? 'active' : '' %>"
                    data-action="changePublishing">
                        <input type="radio" name="published" value="Y" <%= item.get('published') === 'Y' ? 'checked' : '' %>> Published
                </label>
                <label
                    class="btn btn-primary <%= item.get('published') === 'N' ? 'active' : '' %>"
                    data-action="changePublishing">
                        <input type="radio" name="published" value="N" <%= item.get('published') === 'N' ? 'checked' : '' %>> Unpublished
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="translations" class="col-lg-2 control-label">Translations</label>
        <div class="col-lg-10" id="translations"></div>
    </div>
    <div class="form-group ">
        <label for="title" class="col-lg-2 control-label">Question*</label>
        <div class="col-lg-10">
            <input
                type="text"
                name="title"
                id="title"
                value="<%= item.get('title') %>"
                autofocus="true"
                class="form-control">
        </div>
    </div>
    <div class="form-group ">
        <label for="content" class="col-lg-2 control-label">Answer</label>
        <div class="col-lg-10">
            <textarea name="content" id="content" rows="10" cols="40" class="form-control"><%= item.get("content") %></textarea>
        </div>
    </div>
    <div class="form-group ">
        <label for="position" class="col-lg-2 control-label">Position:</label>
        <div class="col-lg-1">
            <input
                type="text"
                name="position"
                id="position"
                value="<%= item.get('position') %>"
                class="form-control">
        </div>
    </div>
    <div class="form-group ">
        <div class="col-lg-2 control-label">&nbsp;</div>
        <div class="btn-toolbar">
            <button type="submit" class="btn btn-default">Save</button>
            <% if(item.get('id')) { %>
            <button type="button" id="delete" class="btn btn-default">Delete</button>
            <% } %>
        </div>
    </div>
</form>