<span id="i-<%= item.get('id') %>" data-sid="<%= item.get('spaceId') %>" data-cid="<%= item.get('categoryId') %>">
    <% if(!window.allTranslate) { %>
    <span data-action="showPopover" class="badge pull-right alert-danger">
        <span class="glyphicon glyphicon-remove-sign"></span>
    </span>
    <% } %>
    <% if(item.get('published') === 'N') { %>
    <span class="badge pull-right alert-danger">
        <span class="glyphicon glyphicon-eye-close"></span>
    </span>
    <% } %>
    <% if(item.get('status') === 'unanswered') { %>
    <span class="badge pull-right alert-danger">
        <span class="glyphicon glyphicon-question-sign"></span>
    </span>
    <% } %>
    <h4 class="list-group-item-heading"><%= item.get('title') %></h4>
    <p class="list-group-item-text"><%= item.get('content') %></p>
</span>