<input type="hidden" name="language" value="<%= model.get('language') %>" id="language">
<div class="btn-group btn-group-xs">
<% if(model.get('translations')) { %>
    <% _.each(model.get('translations'), function(flag, lang) { %>
        <% translations[lang] = false %>
        <% if(flag) { %>
            <% translations[lang] = true %>
        <% } %>
        <button
            type="button"
            data-code="<%= lang %>"
            data-action="<%= flag ? 'get' : 'create' %>Translation"
            class="
                btn
                btn-default
                btn-<%= flag ? 'success' : 'danger' %>
                <%= (model.get('language') == lang) ? 'active' : '' %>">
           <%= languages.findWhere({code:lang}).get('name') %>
        </button>
    <% }) %>
<% } else { %>
    <% _.each(languages, function(val, key){ %>
        <% val = languages.at(key) %>
        <button
            type="button"
            data-action="switchWithinTranslations"
            data-code="<%= val.get('code') %>"
            class="btn btn-default <%= val.get('code') == model.get('language') ? 'active' : '' %>">
            <%= val.get('name') %>
        </button>
    <% }) %>
<% } %>
</div>
<% window.allTranslate = true %>
<% window.countTranslate = 0 %>
<% _.each(languages, function(val, key){ if(!translations[languages.at(key).get('code')]) window.allTranslate = false; else window.countTranslate++; }) %>
<div class="btn-group btn-group-xs pull-right">
    <% if(!window.allTranslate && model.get('id')) { %>
    <div class="btn-group btn btn-default">
        <div type="button" class="glyphicon glyphicon-plus" data-toggle="dropdown"></div>
        <ul class="dropdown-menu text-left">
            <% _.each(languages, function(val, key){ %>
                <% val = languages.at(key) %>
                <% if(!translations[val.get('code')]) { %>
                <li data-action="createTranslation" data-code="<%= val.get('code') %>"><a><%= val.get('name') %></a></li>
                <% } %>
            <% }) %>
        </ul>
    </div>
    <div class="btn-group btn btn-default">
        <div type="button" class="glyphicon glyphicon-pencil" data-toggle="dropdown"></div>
        <ul class="dropdown-menu text-left">
            <% _.each(languages, function(val, key){ %>
                <% val = languages.at(key) %>
                <% if(!translations[languages.at(key).get('code')]) { %>
                <li data-action="changeTranslationLanguage" data-code="<%= val.get('code') %>"><a><%= val.get('name') %></a></li>
                <% } %>
            <% }) %>
        </ul>
    </div>
    <% } %>
    <% if(model.get('id') && window.countTranslate>1) { %>
    <div class="btn-group btn btn-default" id="deleteTranslation"><span class="glyphicon glyphicon-remove"></span></div>
    <% } %>
</div>