<?php
    $hasError = "";
    if ($this->element->hasErrors()) {
        $hasError = 'has-error';
    }
?>

<div class="form-group <?php echo $hasError; ?>">
    <?php
    $translate = Zend_Registry::get('Zend_Translate');
        echo $this->formLabel(
            $this->element->getName(),
            $this->element->getLabel(),
            array('class' => 'col-lg-2 control-label')
        );
    ?>
    <?php if ($this->element->getName() == 'content') { ?>
        <div class="col-lg-10 bootstro-item"
             data-bootstro-title="<?php echo $translate->_('Answer');?>"
             data-bootstro-content="<?php echo $translate->_('There you can tap your answer.');?>"
             data-bootstro-placement="bottom"
             data-bootstro-step="4">
    <?php } elseif (strpos(Zend_Controller_Front::getInstance()->getModuleDirectory(),'category') != FALSE && $this->element->getName() == 'description') { ?>
        <div class="col-lg-10 bootstro-category"
             data-bootstro-title="<?php echo $translate->_('Description');?>"
             data-bootstro-content="<?php echo $translate->_('There you can describe your category.');?>"
             data-bootstro-placement="bottom"
             data-bootstro-step="3">
    <?php } elseif ($this->element->getName() == 'description') { ?>
        <div class="col-lg-10 bootstro-space"
             data-bootstro-title="<?php echo $translate->_('Description');?>"
             data-bootstro-content="<?php echo $translate->_('There you can describe your space.');?>"
             data-bootstro-placement="bottom"
             data-bootstro-step="2">
    <?php } else { ?>
            <div class="col-lg-10">
        <?php } ?>
    <?php
        $attribs = $this->element->getAttribs();

        if (!empty($attribs['class'])) {
            $attribs['class'] = $attribs['class'] . ' form-control';
        } else {
            $attribs['class'] = 'form-control';
        }

        $this->element->setAttribs($attribs);
    ?>


    <?php
        if ($this->element->helper == "formSelect") {
            echo $this->{$this->element->helper}(
                $this->element->getName(),
                $this->element->getValue(),
                $this->element->getAttribs(),
                $this->element->getMultiOptions()

            );
        } else {
            echo $this->{$this->element->helper}(
                $this->element->getName(),
                $this->element->getValue(),
                $this->element->getAttribs()
            );
        }
    ?>
    <?php if ($this->element->getMessages()) : ?>
    <span class="help-block">
    <?php foreach ($this->element->getMessages() as $message) : ?>
        <div><?php echo $message ?></div>
    <?php endforeach; ?>
    </span>
    <?php endif; ?>

    </div>

    <?php if ($this->element->getDescription()) : ?>
    <div class="col-lg-10 col-lg-offset-2">
        <p class="help-block"><?php echo $this->element->getDescription() ?></p>
    </div>
    <?php endif; ?>
</div>
