<div class="col-lg-2 control-label">&nbsp;</div>
<div class="pull-left">
<?php
    $attribs = $this->element->getAttribs();
    if (!empty($attribs['class'])) {
            $attribs['class'] = $attribs['class'] . ' btn btn-default';
        } else {
            $attribs['class'] = 'btn btn-default';
        }

    $this->element->setAttribs($attribs);
?>
<?php
    echo $this->{$this->element->helper}(
        '',
        $this->element->getLabel(),
        $this->element->getAttribs()
    );
?>
</div>