<?php
    $hasError = "";
    if ($this->element->hasErrors()) {
        $hasError = 'has-error';
    }
?>
<div class="form-group <?php echo $hasError; ?>">
    <?php
        echo $this->formLabel(
            $this->element->getName(),
            $this->element->getLabel(),
            array('class' => 'col-lg-2 control-label')
        );
    ?>
    <div class="col-lg-1">
    <?php
        $attribs = $this->element->getAttribs();

        if (!empty($attribs['class'])) {
            $attribs['class'] = $attribs['class'] . ' form-control';
        } else {
            $attribs['class'] = 'form-control';
        }

        $this->element->setAttribs($attribs);
    ?>


    <?php
        echo $this->{$this->element->helper}(
            $this->element->getName(),
            $this->element->getValue(),
            $this->element->getAttribs()
        );
    ?>
    <?php if ($this->element->getMessages()) : ?>
    <span class="help-block">
    <?php foreach ($this->element->getMessages() as $message) : ?>
        <div><?php echo $message ?></div>
    <?php endforeach; ?>
    </span>
    <?php endif; ?>

    </div>

    <?php if ($this->element->getDescription()) : ?>
        <div class="hint"><?php echo $this->element->getDescription() ?></div>
    <?php endif; ?>
</div>
