<div class="b-form__container">
    <h1 class="b-form__title">
        <?php echo $this->translate->_('Reset password');?>
    </h1>
    <?php echo $this->form; ?>
    <div class="pull-right">
        <a class="btn btn-link" href="<?php echo $this->url(array(), 'login');?>"><?php echo $this->translate->_('Back');?></a>
    </div>
</div>
