<div class="b-form__container">
    <h1 class="b-form__title">
        <?php echo $this->translate->_('Log in');?>
    </h1>
    <?php echo $this->form; ?>
    <a class="btn btn-link" href="<?php echo $this->url(array(), 'forgotPassword');?>">
        <?php echo $this->translate->_('Forgot your password?');?></a>
</div>