<h2>
    <%= space.get('id') ? 'Space details' : 'Create a new space' %>
</h2>
<% translations = [] %>

<form class="form-horizontal" enctype="application/x-www-form-urlencoded" method="" action="" id="spaceFormData">
    <% if(space.get('id')) { %>
    <input type="hidden" name="id" value="<%= space.get('id') %>" id="id">
    <% } %>
    <input type="hidden" name="default" value="<%= space.get('default') ? '1' : '0' %>" id="default">
    <div class="form-group">
        <label for="translations" class="col-lg-2 control-label">Translations</label>
        <div class="col-lg-10" id="translations"></div>
    </div>
    <div class="form-group ">
        <label for="name" class="col-lg-2 control-label">Name*</label>
        <div class="col-lg-10">
            <input
            type="text"
            name="name"
            id="name"
            value="<%= space.get('name') %>"
            autofocus="true"
            class="form-control">
        </div>
    </div>
    <div class="form-group ">
        <label for="description" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
            <textarea name="description" id="description" rows="10" cols="40" class="form-control"><%= space.get('description') %></textarea>
        </div>
    </div>
    <div class="form-group ">
        <label for="position" class="col-lg-2 control-label">Position:</label>
        <div class="col-lg-1">
            <input
            type="text"
            name="position"
            id="position"
            value="<%= space.get('position') %>"
            class="form-control">
        </div>
    </div>
    <div class="form-group ">
        <div class="col-lg-2 control-label">&nbsp;</div>
        <div class="btn-toolbar">
            <button type="submit" value="Save" class="btn btn-default">Save</button>
            <% if(space.get('id') && !space.get('default')) { %>
            <button type="button" id="delete" class="btn btn-default">Delete</button>
            <% } %>
        </div>
    </div>
</form>
<div class="pull-right"></div>
