<a>
<% window.allTranslate = true %>
<% _.each(space.get('translations'), function(val, key){ if(!space.get('translations')[key]) window.allTranslate = false }) %>
    <% if(!window.allTranslate) { %>
    <span data-action="showPopover" class="badge pull-right alert-danger">
        <span class="glyphicon glyphicon-remove-sign"></span>
    </span>
    <% } %>    <%= space.get('name') %>
</a>