<div style='background-color: #e6e6e6'>
    <div class='container col-lg-offset-2'>
        <?php if (APPLICATION_ENV != 'testing' && APPLICATION_ENV != 'development') : ?>
        <div class="col-lg-2">
            <h5>Follow Us</h5>
            <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
                <a class="addthis_button_facebook_follow" addthis:userid="grofaqsoftware"></a>
                <a class="addthis_button_twitter_follow" addthis:userid="grofaq"></a>
                <a class="addthis_button_google_follow" addthis:userid="communities/110517090312041921531"></a>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-521a1e3249fa49c6"></script>
        </div>
        <?php endif; ?>
        <div class="col-lg-2 pull-right">&nbsp;</div>
        <div class="col-lg-2 pull-right ">
        <h5>Language</h5>
        <select name="language" class="form-control input-sm">
            <?php foreach ($this->languagesCollection as $language) : ?>
            <option
                value="<?php echo $language['code'];  ?>"
                <?php if($language['code'] == $this->locale) echo "selected"; ?>><?php echo $language['name'] ?></option>
            <?php endforeach; ?>
        </select>
        </div>
    </div>
</div>
