<?php /* @var $currentUser User_Model_Domain */?>
<?php $currentUser = Zend_Auth::getInstance()->getIdentity(); ?>


<div class="collapse navbar-collapse col1 ">
    <ul class="nav navbar-nav visible-xs">
        <li>
            <a href="<?php echo $this->url(array('id' => $currentUser->getId()), 'userPreferences');?>">
                <?php echo $this->translate->_('User Preferences');?>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="<?php echo $this->url(array(), 'logout'); ?>">
                <?php echo $this->translate->_('Logout');?>
            </a>
        </li>
    </ul>
</div>