<?php /* @var $currentUser User_Model_Domain */?>
<a name="top"></a>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".col2">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <button type="button" class="navbar-toggle visible-xs" style="margin-right: 5px" data-toggle="collapse" data-target=".col1">
              <span class="glyphicon glyphicon-user"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->url(array(), 'admin'); ?>">FAQ</a>
        </div>
        <?php if($currentUser = Zend_Auth::getInstance()->getIdentity()) : ?>
        <div class="collapse navbar-collapse col2">
            <ul class="nav navbar-nav">
                <li class="dropdown bootstro-admin active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <strong><?php echo $this->translate->_('Spaces');?></strong><b class="caret"></b>
                    </a>
                    <ul id="space-selector" class="dropdown-menu"></ul>
                </li>
                <li>
                    <a id='integrate' href="">
                        <?php echo $this->translate->_('Integrate');?>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right hidden-xs">
                <?php echo $this->render('general/header-up.phtml'); ?>
            </ul>
            <p class="navbar-text pull-right hidden-xs"> <?php echo $this->translate->_('You are logged in as');?> </p>
        </div>
        <?php echo $this->render('general/header-up-mobile.phtml'); ?>
        <?php endif; ?>
    </div>
</div>