<?php /* @var $currentUser User_Model_Domain */?>
<?php $currentUser = Zend_Auth::getInstance()->getIdentity(); ?>

<li class="dropdown">
    <?php $fullName = $currentUser->getFirstName() . " " . $currentUser->getLastName(); ?>
    <a
        data-bootstro-title="<?php echo $this->translate->_('User Preferences');?>"
        data-bootstro-content="<?php echo $this->translate->_('There you can change your user preferences.');?>"
        data-bootstro-placement="bottom"
        data-bootstro-step="6"
        href="#"
        class="dropdown-toggle bootstro-admin hidden-xs"
        data-toggle="dropdown">
        <?php echo $fullName ?><b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="<?php echo $this->url(array('id' => $currentUser->getId()), 'userPreferences');?>">
                <?php echo $this->translate->_('User Preferences');?>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="<?php echo $this->url(array(), 'logout'); ?>">
                <?php echo $this->translate->_('Logout');?>
            </a>
        </li>
    </ul>
</li>