<head>
    <meta charset="utf-8">
    <title>FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<?php echo $this->baseUrl("css/bootstrap.min.css"); ?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl("css/bootstrap.min.extend.css"); ?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl("css/bootstrap-glyphicons.css"); ?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl("css/sticky-footer-navbar.css"); ?>" rel="stylesheet" type="text/css" />
    <script data-main="<?php echo $this->baseUrl("js-app/main"); ?>" src="<?php echo $this->baseUrl("js-app/libs/require/require.js"); ?>"></script>
    <script src="<?php echo $this->baseUrl("js/tinymce_4.0.2/js/tinymce.min.js"); ?>"></script>
    <?php
        if (Zend_Controller_Front::getInstance()->getRequest()->getActionName() != 'register') {
            $integrationLink = $this->url(array(), 'integrate');
        } else {
            $integrationLink = '';
        }
    ?>

    <script>
        window.integrationLink = '<?php echo $integrationLink; ?>/';
        window.baseUrl = '<?php echo $this->serverUrl();?>/';
        window.languagesCollection = <?php echo json_encode($this->languagesCollection) ?>;
    </script>
    <?php
        $route = Zend_Controller_Front::getInstance()->getRouter()->getCurrentRouteName();
        $params = array('spaceId' => ":spaceId:");
        $url = "";
        $routes = array("createItem", "editItem", "askQuestion", "answerQuestion", "viewSpaceFrontend");
        if (in_array($route, $routes)){
            if ($route != "createItem") {
                $params['categoryId'] = NULL;
            }
            if($route == "viewSpaceFrontend") {
                $route = "askQuestion";
            }
            $url = $this->url($params, $route, FALSE, FALSE);
        }
    ?>
    <script>
        window.routes = ['<?php echo implode("','", $routes); ?>'];
        window.route  = "<?php echo $route; ?>";
        window.url    = "<?php echo $url; ?>";
    </script>

    <script>
        tinymce.init({selector:'textarea'});
    </script>
</head>