<?php if(!empty($this->formErrors)) : ?>
        <div class='alert alert-danger'>
        <strong>Invalid Form Data</strong>
        <button type='button' class='close' data-dismiss='alert'>×</button>
        <?php foreach($this->formErrors as $formElementName => $errors) : ?>
            <b> Invalid <?php echo $formElementName; ?> </b>
            <?php foreach($errors as $error) : ?>
                <?php echo $error . "<br>" ?>
            <?php endforeach; ?>
        <?php endforeach; ?>
        </div>
<?php endif; ?>
<?php $spaceTranslations = $this->spaces ? $this->spaces->getSelected()->getTranslations() : false;?>
<?php $isDefault = Zend_Controller_Front::getInstance()->getRequest()->getModuleName() === "default" &&
                   Zend_Controller_Front::getInstance()->getRequest()->getActionName() === "index"; ?>
<?php if($isDefault && empty($_COOKIE['notShowTranslationAvailability']) && ($this->browserLang!=$this->locale) && ($spaceTranslations[$this->browserLang] === TRUE)){ ?>
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <?php echo $this->translate->_('You make use '
                .$this->languagesCollection[$this->browserLang]['name'].
                ' language.');?>
            <a href="<?php echo $this->url(array('locale' => $this->browserLang)) ?>">Use this language.</a>
        </div>
<?php } ?>

<?php if($isDefault && $spaceTranslations && (!array_key_exists($this->locale, $spaceTranslations) || $spaceTranslations[$this->locale] === FALSE)){ ?>
        <div class="alert alert-warning">
            This space is available in the following languages:
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

              <?php $countSpaceTranslations = 0;
                    foreach ($spaceTranslations as $key => $value){
                       if($value === TRUE){
                           $countSpaceTranslations++;
                           if($countSpaceTranslations > 1){ echo ', '; }
                           ?><a href="<?php echo $this->url(array('locale' => $key)) ?>"><?php echo $this->languagesCollection[$key]['name'];?></a><?php
                               }
                    }
              ?>.
        </div>
<?php } ?>

<?php if($this->flashMessenger) : ?>
    <?php if($this->flashMessenger->hasCurrentMessages("error")) : ?>
         <?php $messagesError = $this->flashMessenger->getCurrentMessages("error"); ?>
         <div class='alert alert-danger'>
         <button type='button' class='close' data-dismiss='alert'>×</button>
         <?php echo $messagesError[0]; ?>
         </div>
    <?php endif; ?>

    <?php if($this->flashMessenger->hasCurrentMessages("success")): ?>
         <?php $successMessages = $this->flashMessenger->getCurrentMessages("success"); ?>
         <div class='alert alert-success'>
         <button type='button' class='close' data-dismiss='alert'>×</button>
         <?php echo $successMessages[0]; ?>
         </div>
    <?php endif; ?>

    <?php  if($this->flashMessenger->hasMessages("error")) : ?>
         <?php $messagesError = $this->flashMessenger->getMessages("error"); ?>
         <div class='alert alert-danger'>
         <button type='button' class='close' data-dismiss='alert'>×</button>
         <?php echo $messagesError[0]; ?>
         </div>
    <?php endif; ?>

    <?php  if($this->flashMessenger->hasMessages("success")) : ?>
        <?php $successMessages = $this->flashMessenger->getMessages("success"); ?>
        <div class='alert alert-success'>
        <button type='button' class='close' data-dismiss='alert'>×</button>
        <?php echo $successMessages[0]; ?>
        </div>
    <?php endif; ?>
<?php endif; ?>