<a name="top"></a>
<a style="position: fixed; bottom: 5px; right: 5px;" href="#top" ><?php echo $this->translate->_('Back to top'); ?> <span class="glyphicon glyphicon-arrow-up"></span></a>

<div class="container">
    <div class="row">
            <div class="jumbotron">
                <h1><?php echo $this->spaces->getSelected()->getName(); ?></h1>
                <p class="text-muted"><?php echo $this->spaces->getSelected()->getDescription(); ?></p>
            </div>
            <?php echo $this->render("general/front/askQuestionCollapse.phtml");?>
            <?php if ($this->categories->count() != 0) : ?>
            <?php $i = 0; foreach ($this->categories as $category) : ?>
                <?php $i = $i + 1;
                      if ($i % 2 != 0) : ?>
                    <div class="row">
                <?php endif; ?>
                <div class="col-lg-6">
                    <?php if($this->categories->count() >= 1) : ?>
                    <h2>
                        <a href="<?php echo $this->url(array('id' => $category->getSpaceId()), 'viewSpaceFrontend') . "#c" . $category->getId();?>"><?php echo $category->getName();?></a>
                    </h2>
                    <?php endif; ?>
                    <ol>
                        <?php foreach ($this->items[$category->getId()] as $item) : ?>
                            <li>
                                <a href="<?php echo $this->url(array('id' => $item->getSpaceId()), 'viewSpaceFrontend') . "#i" . $item->getId();?>"><?php echo $item->getTitle();?></a>
                            </li>
                        <?php endforeach; ?>
                    </ol>

                </div>
                <?php if ($i % 2 == 0 || $this->categories->count() == $i) : ?>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
            <hr>
            <?php foreach ($this->categories as $category) : ?>
                <?php if($this->categories->count() >= 1) : ?>
                <h2 id="c<?php echo $category->getId();?>"><?php echo $category->getName();?></h2>
                <?php endif; ?>
                <p class="text-muted"><?php echo $category->getDescription();?></p>
                <ol>
                    <?php foreach ($this->items[$category->getId()] as $item) : ?>
                        <li>
                            <h4 id="i<?php echo $item->getId();?>"><?php echo $item->getTitle();?></h4>
                            <p class="text-muted"><?php echo $item->getContent();?></p>
                        </li>
                    <?php endforeach; ?>
                </ol>

                <hr>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
</div>