<?php echo $this->render("general/informer.phtml"); ?>

<div class="b-form__container">
    <h1 class="b-form__title">
        <?php echo $this->translate->_('Register');?>
    </h1>
    <?php echo $this->form; ?>
</div>