<div class="modal fade" id="data-delete-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><?php echo $this->translate->_('Atention');?></h4>
      </div>
      <div class="modal-body">
        <p><?php echo $this->translate->_('If you change space, information, that you entered will be deleted');?></p>
      </div>
      <div class="modal-footer">
        <a id="del_confirm" href="" class="btn btn-primary btn-default"><?php echo $this->translate->_('OK');?></a>
        <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate->_('Cancel');?></button>
      </div>
    </div>
  </div>
</div>