<div class="modal fade" id="space-delete-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><?php echo $this->translate->_('Delete confirmation');?></h4>
      </div>
      <div class="modal-body">
        <p><?php echo $this->translate->_('Do you really want to delete space?');?></p>
      </div>
      <div class="modal-footer">
        <a id="del_space" href="" class="btn btn-primary btn-default"><?php echo $this->translate->_('Delete');?></a>
        <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate->_('Cancel');?></button>
      </div>
    </div>
  </div>
</div>