<div
    data-bootstro-title="<?php echo $this->translate->_('User Preferences');?>"
    data-bootstro-content="<?php echo $this->translate->_('On this form you can change your account setting.');?>"
    data-bootstro-placement="bottom"
    data-bootstro-step="0"
    class='bootstro-user'>
<div class="row">
    <div class="col-lg-12">
        <h1>
            <?php echo $this->translate->_('Account settings');?>
        </h1>
        <?php echo $this->userPreferencesForm; ?>
        <div class="pull-right">
            <a class="btn btn-link" href="<?php echo $this->url(array(), 'admin');?>"><?php echo $this->translate->_('Back');?></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1>
            <?php echo $this->translate->_('Change password');?>
        </h1>
        <?php echo $this->changePasswordForm; ?>
        <div class="pull-right">
            <a class="btn btn-link" href="<?php echo $this->url(array(), 'admin');?>"><?php echo $this->translate->_('Back');?></a>
        </div>
    </div>
</div>
</div>