<!DOCTYPE html>
<html>
<?php echo $this->render("general/head.phtml");?>
<body id="body">
    <div id="wrap">
            <?php echo $this->render("general/header.phtml");?>
        <div class="container">
            <div class="row">
                <?php
                    echo $this->render("general/informer.phtml");
                    echo $this->layout()->content;
                ?>
            </div>
        </div>
    </div>
    <?php echo $this->render("general/footer.phtml");?>
</body>
</html>