<!DOCTYPE html>
<html>
<?php echo $this->render("general/head.phtml"); ?>
<body id="body">
    <div id="wrap">
        <?php echo $this->layout()->header;?>
        <div class="row">
            <div id="sidebar" class="col-lg-2 col-xs-12">
                <?php echo $this->render("general/sidebar.phtml");?>
            </div>
            <div id="items-list" class="col-lg-3 col-xs-12">
                <?php
                    echo $this->render("general/informer.phtml");
                 ?>
            </div>
            <div id="forms-container" class="col-lg-7 col-xs-12">
            </div>
        </div>
    </div>
    <?php echo $this->render("general/footer.phtml");?>
</body>
</html>