<!DOCTYPE html>
<html>
<?php echo $this->render("general/head.phtml");?>
<body id="body">
    <div id="wrap">
        <div class="container">
            <div class="row">
                <?php
                    echo $this->layout()->content;
                ?>
            </div>
        </div>
    </div>
</body>
</html>
