<!DOCTYPE html>
<html>
<?php echo $this->render("general/front/head.phtml");?>
<body id="body">
    <div id="wrap">
        <?php echo $this->layout()->header; ?>
	<div class="container">
            <div class="row">
                <?php
                    echo $this->render("general/informer.phtml");
                    echo $this->layout()->content;
                ?>
            </div>
        </div>
    </div>
    <?php echo $this->render("general/footer.phtml");?>
</body>
</html>
