<div class="panel panel-default" id="questionForm">
  <div class="panel-heading">
    <span class='glyphicon glyphicon-question-sign'></span> <a data-toggle="collapse" data-target="#askForm" href="#questionForm"><?php echo $this->translate->_("Ask a question");?></a>
  </div>
  <div class="panel-body collapse" id="askForm">
    <?php echo $this->askQuestionForm; ?>
  </div>
</div>