<head>
    <meta charset="utf-8">
    <title>FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<?php echo $this->baseUrl("css/bootstrap.min.css"); ?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl("css/bootstrap.min.extend.css"); ?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl("css/bootstrap-glyphicons.css"); ?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo $this->baseUrl("css/sticky-footer-navbar.css"); ?>" rel="stylesheet" type="text/css" />
    <script src="<?php echo $this->baseUrl("js-app/libs/jquery/jquery.js"); ?>"></script>
    <script src="<?php echo $this->baseUrl("js-app/libs/jquery/jquery.cookie.js"); ?>"></script>
    <script src="<?php echo $this->baseUrl("js/tinymce_4.0.2/js/tinymce.min.js"); ?>"></script>
    <script src="<?php echo $this->baseUrl("js/app/language-selector.js"); ?>"></script>
    <?php
        if (Zend_Controller_Front::getInstance()->getRouter()->getCurrentRouteName() != 'register') {
            $integrationLink = $this->url(array(), 'integrate');
        } else {
            $integrationLink = '';
        }
    ?>

    <script>
        window.integrationLink = '<?php echo $integrationLink; ?>/';
        window.baseUrl = '<?php echo $this->serverUrl();?>/';
    </script>
    <script>
         $(document).ready(function() {
            $("[id^=share-]").click(function(event) {
                event.preventDefault();
                var href = $(this).data("href");
                var s  = '<input size="25" type="text" value="' + href + '" />';
                var el = $(this);
                $(this).popover({trigger: 'manual', content:s, html:true});
                $(this).popover('toggle');
                $("div.popover input").select();
                $("div.popover").click(function() {
                    return false;
                })
                $("body").click(function() {
                    el.popover('hide');
                });
                return false;
            });
        });
    </script>
    <?php
        $route = Zend_Controller_Front::getInstance()->getRouter()->getCurrentRouteName();
        $params = array('spaceId' => ":spaceId:");
        $url = "";
        $routes = array("createItem", "editItem", "askQuestion", "answerQuestion", "viewSpaceFrontend");
        if (in_array($route, $routes)){
            if ($route != "createItem") {
                $params['categoryId'] = NULL;
            }
            if($route == "viewSpaceFrontend") {
                $route = "askQuestion";
            }
            $url = $this->url($params, $route, FALSE, FALSE);
        }
    ?>
    <script>
        $(document).ready(function() {
            $('*[data-toggle-tooltip="true"]').tooltip();
        });
        window.routes = ['<?php echo implode("','", $routes); ?>'];
        window.route  = "<?php echo $route; ?>";
        window.url    = "<?php echo $url; ?>";
    </script>
    <script>
        $(document).ready(function() {
            appendCategoryIdToCreateItemUrl();
        });
        function appendCategoryIdToCreateItemUrl() {
            var createItemLink = document.getElementById('createItem'),
                categoryId = window.location.hash,
                reg = /\d+/,
                spaceId = reg.exec(window.location.pathname);

            categoryId = categoryId.replace("#", "");
            var link = createItemLink.href;
            link = link.replace(/\/\d+/g,'');

            if (spaceId !== null) {
                spaceId = spaceId[0];
                if (categoryId) {
                    createItemLink.href = link + "/" + spaceId + "/" + categoryId;
                } else {
                    createItemLink.href = link + "/" + spaceId;
                }
            }
            spaceId = null;
            categoryId = null;
        }

        var storedHash = window.location.hash;
        window.setInterval(function () {
            if (window.location.hash !== storedHash) {
                storedHash = window.location.hash;
                appendCategoryIdToCreateItemUrl();
            }
        }, 100);
    </script>

    <script>
        tinymce.init({selector:'textarea'});
    </script>
    <?php
        $translate = Zend_Registry::get('Zend_Translate');
        $text = $translate->_('There you can view help');
    ?>
    <script>
        $(document).ready(function(){
            if ($.cookie("showHelp")) {
                $.removeCookie("showHelp");
                $("#page-guide").popover({trigger: 'manual', content:'<?php echo $text; ?>', html:true});
                $("#page-guide").popover('toggle');
                $("div.popover").click(function() {
                    return false;
                });
                $("body").click(function() {
                    $("#page-guide").popover('hide');
                });
                return false;
            }
        });
    </script>
</head>