<?php if (Zend_Controller_Front::getInstance()->getRouter()->getCurrentRouteName() != 'register') : ?>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".col2">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="<?php echo $this->url(array('id' => null), 'viewSpaceFrontend'); ?>" class="navbar-brand">FAQ</a>
        </div>
        <div class="collapse navbar-collapse col2">
            <ul class="nav navbar-nav">
                <?php if ($this->spaces) :?>
                    <?php $i=0; $numberOfSpaces = 5;?>
                    <?php foreach ($this->spaces as $space) :
                            $i++;
                            if ($i == $numberOfSpaces+1) :?>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <strong><?php echo $this->translate->_('More');?></strong><b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                        <?php endif;?>

                        <li <?php if($space->getId() == $this->spaces->getSelected()->getId()) echo 'class="active"'; ?>>
                            <a href="<?php echo $this->url(array('id' => $space->getId()), 'viewSpaceFrontend'); ?>"><?php echo $space->getName();?></a></li>
                        <?php if ($i == $this->spaces->count() && $this->spaces->count() >= $numberOfSpaces) : ?>
                            </ul>
                            </li>
                        <?php endif; ?>
                    <?php endforeach;?>
                <?php endif; ?>
            </ul>

            <div class="pull-right">
                <a href="<?php echo $this->url(array("id" => $this->spaces->getSelected()->getId()), 'askQuestion'); ?>" type="button" class="btn btn-default navbar-btn"><?php echo $this->translate->_("Ask a question");?></a>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>