<h2>
    <%= category.get('id') ? 'Category details' : 'Create a new category' %>
</h2>
<% translations = [] %>

<form class="form-horizontal" enctype="application/x-www-form-urlencoded" method="" action="" id="categoryFormData">
    <input type="hidden" name="default" value="<%= category.get('default') || 'N' %>" id="default">
    <% if(category.get('id')) { %>
    <input type="hidden" name="id" value="<%= category.get('id') %>" id="id">
    <% } %>
    <div class="form-group ">
        <label for="spaceId" class="col-lg-2 control-label">Space*</label>
        <div class="col-lg-10">
            <select name="spaceId" id="spaceId" class="form-control">
                <% spaces.each(function(space) { %>
                    <option
                        value="<%= space.get('id') %>"
                        <% if(space.get('selected')) { %>selected<% } %>
                        ><%= space.get('name') %></option>
                <% }) %>
            </select>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="translations" class="col-lg-2 control-label">Translations</label>
        <div class="col-lg-10" id="translations">
            111
        </div>
    </div>
    <div class="form-group ">
        <label for="name" class="col-lg-2 control-label">Name*</label>
        <div class="col-lg-10">
            <input
            type="text"
            name="name"
            id="name"
            value="<%= category.get('name') %>"
            autofocus="true"
            class="form-control">
        </div>
    </div>
    <div class="form-group ">
        <label for="description" class="col-lg-2 control-label">Description:</label>
        <div class="col-lg-10">
            <textarea name="description" id="description" rows="10" cols="40" class="form-control"><%= category.get('description') %></textarea>
        </div>
    </div>
    <div class="form-group ">
        <label for="position" class="col-lg-2 control-label">Position:</label>
        <div class="col-lg-1">
            <input
            type="text"
            name="position"
            id="position"
            value="<%= category.get('position') %>"
            class="form-control">
        </div>
    </div>
    <div class="form-group ">
        <div class="col-lg-2 control-label">&nbsp;</div>
        <div class="btn-toolbar">
            <button type="submit" value="Save" class="btn btn-default">Save</button>
            <% if(category.get('id') && !category.get('default')) { %>
            <button type="button" id="delete" class="btn btn-default">Delete</button>
            <% } %>
        </div>
    </div>
</form>
