<% window.allTranslate = true %>
<% _.each(category.get('translations'), function(val, key){ if(!category.get('translations')[key]) window.allTranslate = false }) %>
    <% if(!window.allTranslate) { %>
    <span data-action="showPopover" class="badge pull-right alert-danger">
        <span class="glyphicon glyphicon-remove-sign"></span>
    </span>
    <% } %>
    <%= category.get('name') %>