<ul class="list-unstyled list-group-item-text">
<% _.each(languages, function(flag, code){ %>
    <li class="text-<%= flag ? 'success' : 'danger' %>"><%= languagesCollection.findWhere({code: code}).get('name') %></li>
<% }) %>
</ul>